@use "@/styles/variables" as v;
@use "sass:color";

.main-button {
  display: inline-block;
  padding: 18px 42px;
  font-size: 16px;
  color: v.$white;
  background-color: v.$primary-color;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;

  &:hover {
    filter: brightness(1.15);
  }

  &:active {
    transform: translateY(1px);
  }

  @media (max-width: 768px) {
    padding: 15px 40px;
    font-size: 25px;
  }
}