// _event-item-mobile.scss
@media (max-width: 375px) {
  .event-item {
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;

    &__img {
      width: 100%;
      height: auto;
      max-height: 200px;
      order: 1;
    }

    &__data {
      max-width: 100%;
      order: 2;
    }

    &__title {
      font-size: 28px;
    }

    &__description {
      font-size: 16px;
    }
  }
}
