:root {
  --accent-color: rgba(221, 34, 66, 1);

  --primary-text-color: rgba(255, 255, 255, 1);
  --light-text-color: rgba(21, 20, 57, 0.4);
  --lighten-text-color: rgba(224, 224, 224, 1);
  --secondary-text-color: rgba(147, 147, 147, 1);
  --dark-text-color: rgba(1, 10, 32, 1);
  --background-color: rgba(1, 10, 32, 0.5);
}
