@use "@/styles/variables" as v;

.explore-russia {
  padding: 100px 0;
  background: v.$background-image center/cover no-repeat;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  &__container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    max-height: 520px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    width: min-content;
    font-size: 90px;
    font-weight: 900;
    margin-bottom: 20px;
    color: v.$white;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 1px;
  }

  &__button-wrapper {
    margin-bottom: 127px;
  }

  &__cards {
    display: flex;
    width: 100%;
  }

  @media (max-width: 768px) {
    padding: 60px 0;
    min-height: auto;
    height: auto;
    background-size: cover;
    background-attachment: scroll;

    &::before {
      height: 100%;
    }

    &__container {
      max-height: none;
      margin-top: 80px;
    }

    &__title {
      font-size: 52px;
      margin-bottom: 30px;
    }

    &__button-wrapper {
      margin-bottom: 60px;
    }
    &__cards {
      display: block;
    }
  }
}