@media (max-width: 375px) {
  .features {
    padding: 50px 30px;

    &__title {
      font-size: 40px;
      &--accent {
        font-size: 26px;
      }
    }
    &__list {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
}
