@use "@/styles/variables" as v;

.travel-card {
  background: rgba(40, 40, 40, 0.7);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 30px;
  color: v.$white;
  min-height: 250px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.2);
  }

  &__number {
    display: block;
    font-size: 24px;
    font-weight: 900;
    color: v.$primary-color;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    color: v.$white;
    line-height: 1.3;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    flex-grow: 1;
  }

  &__button {
    margin-top: 20px;
    padding: 12px 28px;
    background: v.$primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-start;
    text-transform: uppercase;
    
    &:hover {
      filter: brightness(1.15);
    }
  }

  @media (max-width: 768px) {
    min-height: auto;
    padding: 20px;

    &__number {
      font-size: 20px;
    }

    &__title {
      font-size: 30px;
    }

    &__description {
      font-size: 20px;
    }
  }
}